<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="baseUrl" value="http://localhost:10011/"/>
    <add key="projectName" value="Road House"/>
  </appSettings>
  <connectionStrings>
    <add name="databaseConnection" connectionString="data source =.; initial catalog = RoadHouse_web2075; user id = sa; password = 123; Connection Timeout = 50" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <urlMappings enabled="true">
      <add url="~/default" mappedUrl="~/default.aspx"/>
      
      <add url="~/dashboard" mappedUrl="~/dashboard.aspx"/>
      
      <add url="~/companyInfo" mappedUrl="~/systemSetup/companyInfo.aspx"/>
      <add url="~/branch" mappedUrl="~/systemSetup/branch.aspx"/>
      <add url="~/department" mappedUrl="~/systemSetup/department/department.aspx"/>
      <add url="~/section" mappedUrl="~/systemSetup/department/section.aspx"/>
      <add url="~/grade" mappedUrl="~/systemSetup/grade.aspx"/>
      <add url="~/designation" mappedUrl="~/systemSetup/designation.aspx"/>
      <add url="~/leave" mappedUrl="~/systemSetup/leave.aspx"/>
      <add url="~/holidaySetup" mappedUrl="~/systemSetup/publicHoliday/holidaySetup.aspx"/>

      <add url="~/employee" mappedUrl="~/hrManagement/employee.aspx"/>
      <add url="~/promotion" mappedUrl="~/hrManagement/promotion.aspx"/>
      <add url="~/transfer" mappedUrl="~/hrManagement/transfer.aspx"/>

      <add url="~/forceAttendance" mappedUrl="~/AttendanceManagement/forceAttendance.aspx"/>
      <add url="~/forceAttendanceBatch" mappedUrl="~/AttendanceManagement/forceAttendanceBatch.aspx"/>
      <add url="~/leaveApplication" mappedUrl="~/AttendanceManagement/leaveApplication.aspx"/>
      <add url="~/leaveCancellation" mappedUrl="~/AttendanceManagement/leaveCancellation.aspx"/>
      <add url="~/forceLeaveAssignment" mappedUrl="~/AttendanceManagement/forceLeaveAssignment.aspx"/>
      <add url="~/monthlyLeaveGenerator" mappedUrl="~/AttendanceManagement/monthlyLeaveGenerator.aspx"/>

      <add url="~/overTimeManagement" mappedUrl="~/overTimeManagement.aspx"/>
      <add url="~/outStationManagement" mappedUrl="~/outStationManagement.aspx"/>
      
      <add url="~/quickattendance" mappedUrl="~/report/attendanceReport/quickattendance.aspx"/>
      <add url="~/monthlyAttendance" mappedUrl="~/report/attendanceReport/monthlyAttendance.aspx"/>
      <add url="~/datewiseAttendance" mappedUrl="~/report/attendanceReport/datewiseAttendance.aspx"/>
      <add url="~/overTimeSummary" mappedUrl="~/report/attendanceReport/overTimeSummary.aspx"/>
      <add url="~/lateAttendance" mappedUrl="~/report/attendanceReport/lateAttendance.aspx"/>
      <add url="~/dailyAbsent" mappedUrl="~/report/attendanceReport/dailyAbsent.aspx"/>
      
      <add url="~/leaveInformation" mappedUrl="~/report/leaveReport/leaveInformation.aspx"/>
      <add url="~/leaveTakenDetail" mappedUrl="~/report/leaveReport/leaveTakenDetail.aspx"/>
      
      <add url="~/employeeStatusReport" mappedUrl="~/report/employeeInfo/employeeStatusReport.aspx"/>
      <add url="~/employeeDetailInformation" mappedUrl="~/report/employeeInfo/employeeDetailInformation.aspx"/>
      <add url="~/hierarchyPreview" mappedUrl="~/report/employeeInfo/hierarchyPreview.aspx"/>
      
      <add url="~/rosterShiftInfo" mappedUrl="~/report/rosterShiftInfo.aspx"/>
      <add url="~/dayoff" mappedUrl="~/report/dayoff.aspx"/>
      <add url="~/inOutInfo" mappedUrl="~/report/inOutInfo.aspx"/>
      <add url="~/shiftIndication" mappedUrl="~/report/shiftIndication.aspx"/>
      <add url="~/securityGuard" mappedUrl="~/report/securityGuard.aspx"/>
      
      <add url="~/travelReport" mappedUrl="~/report/otherReport/travelReport.aspx"/>
      <add url="~/promotionReport" mappedUrl="~/report/otherReport/promotionReport.aspx"/>
      <add url="~/transferReport" mappedUrl="~/report/otherReport/transferReport.aspx"/>
      
      <add url="~/account" mappedUrl="~/account.aspx"/>
    </urlMappings>
  </system.web>
</configuration>